<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Simon</title>

  <!-- css customization -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Google fonta -->
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
